* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  border: 0;
  outline: 0;
  font-weight: 300;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #f5f5f5;
  min-width: 360px;
}

.border {
  border: 1px solid orange;
}

a {
  text-decoration: none;
}

.ads-list {
  width: 100%;
  padding: 10px;
  background-color: #fab498;
}

.ads-list .ads-card {
  width: 100%;
  border-radius: 15px;
  background-color: #ffdccf;
  margin: 10px 0;
}

.ads-list .ads-card .ads-title {
  width: 100%;
  text-align: center;
  background-color: #ec3434;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 10px;
  font-weight: bold;
  color: white;
}

.ads-list .ads-image img
 {
  width: 100%;
}

.ads-list .ads-buttons {
  width: 100%;
}

.ads-list .ads-buttons button {
  width: 45%;
  margin: 5px 5px 15px 5px;
  padding: 10px;
  font-weight: bold ;
  border-radius: 5px;
  background-color: #ec3434;
  color: white;
}


/* smartphones */
/* @media screen and (min-width: 480px) {
  .logo {
    width: 200px;
    background: url(../images/logo.png) center center/200px no-repeat;
    
    }
} */

/* tablets */
@media screen and (min-width: 768px) {

}