* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  border: 0;
  outline: 0;
  font-weight: 300;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #f5f5f5;
  min-width: 360px;
}

.border {
  border: 1px solid orange;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #ec3434;
}

header .logo {
  width: 75%;
  /* background: url(../images/logo-espo.png) no-repeat fixed; */
}

header .logo img {
  width: 100%;
  max-height: 80px;
  width: auto;
}

header .btn-menu {
  margin-right: 15px;
  margin-top: 15px;
  
  width: 56px;
  height: 56px;
  color: #ec3434;
  text-align: center;
  border-radius: 56px;
  background: linear-gradient(to right, #eebbc0, #fa892d);
}

.btn-header {
  width: 56px;
  height: 56px;
  position: fixed;
  right: 2%;
  bottom: 20px;
  color: #fff;
  text-align: center;
  border-radius: 56px;
  background: linear-gradient(to right, #ce2e3c, #da6709)
}

.menu {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
}

.btn-close {
  color: #fff;
  font-size: 1.5em;
  float: right;
  cursor: pointer;
  margin: 2% 3% 0 0;
}

.menu ul {
  width: 100%;
  float: left;
  text-align: center;
  list-style: none;
}

.menu li {
  padding: 1.5%;
}

.menu li a {
  color: #fff;
  font-size: 24px;
  padding: 1.5em 3%;
}

.menu li a:hover {
  color:#da6709
}

.ads-list {
  width: 100%;
  padding: 10px;
  background-color: #fab498;
}

.ads-list .ads-card {
  width: 100%;
  border-radius: 15px;
  background-color: #ffdccf;
  margin: 10px 0;
}

.ads-list .ads-card .ads-title {
  width: 100%;
  text-align: center;
  background-color: #ec3434;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 10px;
  font-weight: bold;
  color: white;
}

.ads-list .ads-image img
 {
  width: 100%;
}

.ads-list .ads-buttons {
  width: 100%;
}

.ads-list .ads-buttons button {
  width: 45%;
  margin: 5px 5px 15px 5px;
  padding: 10px;
  font-weight: bold ;
  border-radius: 5px;
  background-color: #ec3434;
  color: white;
}

.slider {

  margin: 0 auto;
  /* width: 800px; */
  /* height: 400px; */
  overflow: hidden;
  width: 90%;
}

.slides {

  padding: 1% 0%;
  width: 500%;
  height: 400px;
  display: flex;


}

.slides input {
  display: none;

}

.slide {
  width: 25%;
  position: relative;
}

.slide img {
  width: 800px;

}